* {
  padding: 0;
  margin: 0;
}

body {
  background: url("Images/form_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  position: absolute;
  top: 35%;
  left: 65%;
}

.container h1 {
  color: rgb(225, 233, 240);
  display: inline-block;
  font-size: 35px;
  padding: 8px;
  border-bottom: 5px solid rgb(37, 8, 18);
  margin-bottom: 15px;
}

.box {
  width: 100%;
  border-bottom: 5px solid rgb(37, 8, 18);
  color: white;
}

.box input {
  width: 80%;
  background: none;
  font-size: 15px;
  border: none;
  margin: 10px 0;
  outline: none;
}

.box i {
  width: 25px;
  padding-right: 8px;
  text-align: center;
  color: white;
}

.btn {
  cursor: pointer;
  margin: 12px 0;
  font-size: 18px;
  padding: 4px 8px;
  border: 2px;
  border-radius: 15px;
  background: none;
  font-weight: bold;
  border: 3px solid black;
}

.btn:hover {
  opacity: 0.4;
  color: blue;
  font-weight: bold;
  background: white;
  border: 3px solid white;
}
